#variable in python

In [1]:
name="Adarsh Tripathi"

In [3]:
a=10
b=20

In [2]:
first_name="adarsh"

In [3]:
type(first_name)

str

In [6]:
a=200

In [8]:
first_name="tripathi"

In [9]:
a="zero"

In [13]:
a=False

operaters

In [14]:
a=+b

In [15]:
a-b

0

In [16]:
a*b

400

In [17]:
a//b

1

In [18]:
a/b

1.0

In [19]:
a%b

0

In [20]:
a**b

104857600000000000000000000

In [21]:
a,b=20,30

In [22]:
a<b

True

In [23]:
b>a

True

In [24]:
b<a

False

In [25]:
a>b

False

In [26]:
a<=b

True

In [27]:
a>=b

False

In [28]:
a%2==0

True

In [29]:
b%2==0

True

In [30]:
x=a+10

In [31]:
x+=10

In [32]:
x-=5

In [33]:
x//=3

In [34]:
x**=14

In [35]:
x+=4

In [36]:
a<b and a>5

True

In [37]:
b<a and b>a

False

In [38]:
not a>b

True

In [39]:
len(name)

15

In [41]:
not len(name)<=17

False

In [42]:
msg="This is simple msg"

In [44]:
'very' in msg

False

In [54]:
colors=['red','green','black']

In [55]:
'red'in colors

True

04 feb 2022

In [10]:
x=20
if x>10:
    print('x is greater then 10')
    print('his is the info we needed')
    print('with this power, come great responsbility')
    print('the end')

x is greater then 10
his is the info we needed
with this power, come great responsbility
the end

In [8]:
type(x)

int

In [23]:
score=int(input("your score"))
if score>=90:
    score='A'
elif score>=80:
    score="b"
elif score>=70:
    score="c"
elif score>=60:
    score="d"

In [24]:
score

'c'

In [25]:
type(score)

str

In [26]:
len(score)

1

In [27]:
if 42 in range(100):print(42)

42

In [28]:
x="Adarsh"if "sh"in"my name Adarsh"else"ada"
print(x)

Adarsh

Loops in Python

07-feb-2022

In [3]:
x="python"
for i in x:
    print(i)

p
y
t
h
o
n

In [12]:
fruits=['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [13]:
type(item)

str

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [20]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [22]:
for i in range(10):
    print(i*"A.T")

A.T
A.TA.T
A.TA.TA.T
A.TA.TA.TA.T
A.TA.TA.TA.TA.T
A.TA.TA.TA.TA.TA.T
A.TA.TA.TA.TA.TA.TA.T
A.TA.TA.TA.TA.TA.TA.TA.T
A.TA.TA.TA.TA.TA.TA.TA.TA.T

In [23]:
for i in range(1,11):
    if i%2==0:
        print(f'{i}is even')
    else:
        print(f'{i}is odd')

In [43]:
total=0
for i in range(1,19):
    if i%2==0:
        total+=i
print('total=',total)

total= 90

In [50]:
total=0
for i in range(1,10):
    if i%3==0:
        total+=i
        print('total=',total)

total= 3
total= 9
total= 18

In [53]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is",sum)

the sum is 55

In [55]:
expense=0
while input('do you want to add some expense:[y/n]')=="y"
    val=int(input("enter amount of expense")
    expense +=val
print(f'totalexpense is added is{expense}')

SyntaxError: invalid syntax (<ipython-input-55-ff5b6d1714d3>, line 2)

14-Feb-2022

In [30]:
message="this is the place,where we have written a massage"

In [31]:
message.split('*')

['this is the place,where we have written a massage']

In [32]:
message.count('a')

5

In [33]:
message.count('plant')

0

In [34]:
message.count('t')

4

alphabet counter

In [35]:
for char in "abcdefghijklmnopqrstuvwxyz":
    print(f"{char}:{message.count(char)}")

a:5
b:0
c:1
d:0
e:8
f:0
g:1
h:4
i:3
j:0
k:0
l:1
m:1
n:1
o:0
p:1
q:0
r:2
s:4
t:4
u:0
v:1
w:3
x:0
y:0
z:0

In [36]:
for char in "abcdefghijklmnopqrstuvwxyz":
    count=message.count(char)
    if count>0:
        print(f"{char}:{count}")

a:5
c:1
e:8
g:1
h:4
i:3
l:1
m:1
n:1
p:1
r:2
s:4
t:4
v:1
w:3

Word counter

In [37]:
unique_words=set(message.split())
print(unique_words)

{'a', 'this', 'written', 'place,where', 'the', 'we', 'massage', 'is', 'have'}

In [38]:
for word in unique_words:
    word_list=message.split()
    wc=word_list.count(word)
    print(f'{word}->{wc}')

a->1
this->1
written->1
place,where->1
the->1
we->1
massage->1
is->1
have->1

In [39]:
q="the only step a person can take is,the next step"

In [41]:
q.find('person')

16

In [42]:
q.find('only')

4

In [43]:
q.rfind('step')

44

In [44]:
q.find('step')

9

# program to check if the data is provided by the user is numeric or not,if it numeric,convert it int else check if it contains any number and extract that number

In [49]:
data=input('enter a data:')
if data.isnumeric():
    num=int(data)
    print('number:',num)
else:
    temp=""
    for c in data:
        if c.isnumeric():
            temp+=c
            num=int(temp)
            print('etracted number:',num)

number: 678543

remove all the punctuation from the following string
@@hello#! ^%%wo{}rld!!

In [57]:
from string import punctuation

In [61]:
value='@@hello#! ^world!!'
for p in punctuation:
    value=value.replace(p,'')
print(value)

hello world

15-feb-2022

In [1]:
name='Adarsh'
print(name)

Adarsh

In [2]:
type(name)

str