# dictionary

-dictionary is ordered and unidexed

-dictionary is s 'key:value'pair system

-the keys are always unique for a dict

-the keys are only immutable type (number,string,tuple)

-the values can any type

-represented by{}

-dictionary is mutable

In [2]:
x=['alex','mason',22,'34567890',True,False]#unexplained
std_mark_list=['ravi',90,'kavi',30,'jahnvi',50,'tanvi',20]#unlinked

In [6]:
dict_x={
    'firstname':'alex',
    'lastname':'mason',
    'age':22,
    'phone':'3456789',
    'working':True,
    'married':False
    }
print(dict_x)

{'firstname': 'alex', 'lastname': 'mason', 'age': 22, 'phone': '3456789', 'working': True, 'married': False}

03-mar-2022

In [7]:
report={'tanya':{
    'eng':60,
    'math':80,
    'sci':100,
},'saif':{
    'eng':50,
    'math':89,
    'sci':40
}}

In [8]:
report

{'tanya': {'eng': 60, 'math': 80, 'sci': 100},
 'saif': {'eng': 50, 'math': 89, 'sci': 40}}

In [10]:
dict_x['city']='lucknow'
dict_x['state']='UP'

In [11]:
dict_x

{'firstname': 'alex',
 'lastname': 'mason',
 'age': 22,
 'phone': '3456789',
 'working': True,
 'married': False,
 'city': 'lucknow',
 'state': 'UP'}

updation

In [12]:
dict_x['age']=20

remove data

In [14]:
dict_x.pop('city')

'lucknow'

In [15]:
dict_x

{'firstname': 'alex',
 'lastname': 'mason',
 'age': 20,
 'phone': '3456789',
 'working': True,
 'married': False,
 'state': 'UP'}

In [17]:
dict_x.popitem()

('married', False)

In [20]:
x={'a':'apple','b':'ball','c':'cat '}
y={'d':'dog','e':'elephant','f':'fish'}
x.update(y)

In [21]:
x

{'a': 'apple',
 'b': 'ball',
 'c': 'cat ',
 'd': 'dog',
 'e': 'elephant',
 'f': 'fish'}

list with dict

In [22]:
x={'a':'apple','b':'ball','c':'cat '}
y={'d':'dog','e':'elephant','f':'fish'}
z={'g':'goat','h':'horse','i':'intence'}
abc=[x,y,z]
print(abc)

[{'a': 'apple', 'b': 'ball', 'c': 'cat '}, {'d': 'dog', 'e': 'elephant', 'f': 'fish'}, {'g': 'goat', 'h': 'horse', 'i': 'intence'}]

In [29]:
data= [
    {'name':'ravi','age':30},
    {'name':'kavi','age':40},
    {'name':'janhvi','age':55},
    {'name':'Tanvi','age':44}
]
data

[{'name': 'ravi', 'age': 30},
 {'name': 'kavi', 'age': 40},
 {'name': 'janhvi', 'age': 55},
 {'name': 'Tanvi', 'age': 44}]

In [32]:
data[0]['age']

30

In [33]:
report

{'tanya': {'eng': 60, 'math': 80, 'sci': 100},
 'saif': {'eng': 50, 'math': 89, 'sci': 40}}

In [37]:
report['saif']['math']

89

traversal and looping

In [38]:
list(report.keys())

['tanya', 'saif']

In [39]:
list(report.values())

[{'eng': 60, 'math': 80, 'sci': 100}, {'eng': 50, 'math': 89, 'sci': 40}]

In [40]:
list(report.items())

[('tanya', {'eng': 60, 'math': 80, 'sci': 100}),
 ('saif', {'eng': 50, 'math': 89, 'sci': 40})]

In [43]:
# most useful
for k,v in dict_x.items():
    print(k,v)

firstname alex
lastname mason
age 20
phone 3456789
working True

In [44]:
for k in dict_x:
    print(k,dict_x[k])

firstname alex
lastname mason
age 20
phone 3456789
working True

wap to add details of five employee in dict.the details are as follws
the display there details after incrementing their slsry by 9%
-

In [63]:
Details=[
    {'Ep':'1','first_name0':'Adarsh','last_name':'Tripathi','empid':'5673442','designation':'tse','doj':'22-09-2019','base_salary':'300000/y','department':'it'},
    {'Ep':'2','first_name1':'Shivam','last_name':'Tripath','empid':'766556','designation':'je','doj':'soon','base_salary':'40000','department':'it'},
]
Details

[{'Ep': '1',
  'first_name0': 'Adarsh',
  'last_name': 'Tripathi',
  'empid': '5673442',
  'designation': 'tse',
  'doj': '22-09-2019',
  'base_salary': '300000/y',
  'department': 'it'},
 {'Ep': '2',
  'first_name1': 'Shivam',
  'last_name': 'Tripath',
  'empid': '766556',
  'designation': 'je',
  'doj': 'soon',
  'base_salary': '40000',
  'department': 'it'}]