18-feb-2022

comprehension

lambda,map,reduce

In [2]:
#normal code
x=[1,2,3,4,5,6,7,8,9,10]
x10=[]
for i in x:
    out=i+10
    x10.append(out)
print(x10)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

coprehension syntax

.simple

new list=[operation loop]


condition

new list=[operation loop condition]

In [3]:
xinv10=[i-10 for i in x]
print(xinv10)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [8]:
xsq=[i*i for i in x]
print(xsq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
y=[1,2,3,4,5,6]
ysqr_even=[]
for i in y:
    if i%2==0:
        sqr=i**2
        ysqr_even.append(sqr)
print(ysqr_even)

[4, 16, 36]

In [14]:
ycube_odd=[i*i*i for i in y if i%2 !=0]# first way
ycube_odd

[1, 27, 125]

In [13]:
ycube_odd=[i**3 for i in y if i%2 !=0]#second way
ycube_odd

[1, 27, 125]

In [18]:
names=['kalandin stromblessed','adolin kholin','shallan dawar']
surname=[]
for name in names:
    sn=name.split()[-1]
    surname.append(sn)
    print(surname)

['stromblessed']
['stromblessed', 'kholin']
['stromblessed', 'kholin', 'dawar']

In [19]:
names=['kalandin stromblessed','adolin kholin','shallan dawar']
surname=[]
for name in names:
    sn=name.split()[0]
    surname.append(sn)
    print(surname)

['kalandin']
['kalandin', 'adolin']
['kalandin', 'adolin', 'shallan']

In [20]:
firstname=[name.split()[-1] for name in names]
print(firstname)

['stromblessed', 'kholin', 'dawar']

In [21]:
firstname=[name.split()[0] for name in names]
print(firstname)

['kalandin', 'adolin', 'shallan']

In [24]:
emps=['suraj','ali','mohan','vijay','sujay','murtuja','elina']

In [30]:
emps_a=[]
for name in emps:
    if 'n'in name:
        emps_a.append(name)
print(emps_a)

['mohan', 'elina']

In [31]:
x=[1,2,3,4,5,6,7,8]
y=[3,4,5,6,7,8,9,0]
z=[]

In [37]:
z=[x]+[y]
print(z)

[[1, 2, 3, 4, 5, 6, 7, 8], [3, 4, 5, 6, 7, 8, 9, 0]]

In [5]:
x=[1,2,3,4,5,6,7,8]
y=[3,4,5,6,7,8,9,0]
z=[]
for i,j in zip(x,y):
    z.append(i+j)
print(z)

[4, 6, 8, 10, 12, 14, 16, 8]

In [6]:
a=[i*j for i,j in zip(x,y)]
print(a)

[3, 8, 15, 24, 35, 48, 63, 0]

25-feb-2022

In [4]:
people=['rohan','mohan','sohan']
iq=[70,75,60]
age=[18,19,32]
for p,i,a in zip(people,iq,age):
    print(f'{p} has ifq of {i} in the age of {a}')

rohan has ifq of 70 in the age of 18
mohan has ifq of 75 in the age of 19
sohan has ifq of 60 in the age of 32