In [6]:
first_name='adarsh tripathi'
print(first_name)

adarsh tripathi

In [7]:
type(first_name)

str

In [2]:
first_name2=(input('enter your name'))
print(first_name2)
len(first_name2)

Shivam

6

In [15]:
word='Python is great'
word[10:16]

'great'

In [46]:
file='python\nis\neverywhere'
print (file)

python
is
everywhere

In [8]:
h='hello world'

In [16]:
h[::-1]

'dlrow olleh'

In [17]:
s1='how are you'
s1.upper()

'HOW ARE YOU'

In [19]:
s1.lower
s1

'how are you'

In [29]:
words3=['python','is','easy','to','learn']
' '.join(words3)

'python is easy to learn'

In [1]:
string7='\nAdarsh \n Tripathi'
string7.ljust(5)
print(string7*10)

Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi
Adarsh
 Tripathi

In [14]:
string10='to move to newline\nis used'
print(string10,'\n')

to move to newline
is used

In [15]:
print('the variable is 15')

the variable is 15

In [81]:
s12='python'
s13='is'
s14='great'

In [82]:
print(s12,' '+s13,' '+s14,' ')

python  is  great

In [ ]:
s15=' and simple'