28-Feb-2022

sets


1.set can hold multiple values

2.set is mutable(add,remove items)

3.set is unindexed, unordered

4.set can have only unique value

5.set is represented by{}with comm seprated values

6.set can have mixed values inside 

7.set can only hold immutable values

8.set cannot be nested

In [1]:
x={1,2,3,4,5}
print(x,type(x))

{1, 2, 3, 4, 5} <class 'set'>

In [3]:
y={9,8,7,6,4,3,2}
print(y,type(y))

{2, 3, 4, 6, 7, 8, 9} <class 'set'>

In [4]:
a=30
b=70
c='homon'
d={a,b,c}
print(d)

{70, 'homon', 30}

In [5]:
x={}#empty dictionary
xs=set()#empty set
print(type(x),type(xs))

<class 'dict'> <class 'set'>

In [7]:
z={1,2,2,4,4,5,6,}
print(z)

{1, 2, 4, 5, 6}

In [8]:
names={'Alex','Alex','alex','steave','steave'}
print(names)

{'alex', 'steave', 'Alex'}

In [13]:
x=set('adarsh')
print(x)

{'s', 'a', 'r', 'd', 'h'}

In [15]:
len(set('Adarsh'))==len(set('Adarsh'))

True

In [17]:
nums=set([1,2,3,3,4,4,4,4,6,7,8,])
print(nums)

{1, 2, 3, 4, 6, 7, 8}

In [21]:
for n in nums:
    print(n,end=" ")

1 2 3 4 6 7 8

In [26]:
for name in names:
    print(name)

alex
steave
Alex

In [27]:
x={1,2,'hello',(6,7)}
x

{(6, 7), 1, 2, 'hello'}

list<->set<->tuple<->list

In [29]:

x=[1,2,2,3,3,4,4,]
xt=tuple(x)
xs=set(x)
print(x,xt,xs)

[1, 2, 2, 3, 3, 4, 4] (1, 2, 2, 3, 3, 4, 4) {1, 2, 3, 4}

In [30]:
xl=list(xs)
print(xs,xl)

{1, 2, 3, 4} [1, 2, 3, 4]

Function

   -Adding

   -update
Remove
    
    -remove

    -discard

    -pop

    -clear
set imlimentation:-
-union
-intersection
-difference
-symmentic difference
-is_superset
-is_subset
-is-disjoint

In [42]:
books=set()
books.add('snow crash')
books.add('as u like it')
books

{'as u like it', 'snow crash'}

In [34]:
books.update(['merchant of vanice'])

In [35]:
books

{'as u like it', 'merchant of vanice', 'snow crash'}

In [47]:
books.remove('as u like it')
print(books)

KeyError: 'as u like it'

In [48]:
books.pop()

'snow crash'

In [50]:
books.clear()

In [51]:
books

set()

In [55]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
s1.intersection(s2)

set()

In [57]:
s1|s2# pipe function is used to perform union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
s1&s2#used to perform intersection

set()

In [62]:
s2.difference(s1)#unique value

{6, 7, 8, 9, 10}

In [63]:
s1-s2#perform difference

{1, 2, 3, 4, 5}

In [64]:
s1.issuperset(s2)

False

In [65]:
s2.issubset(s1)

False

In [68]:
s1.isdisjoint(s2)

True

01-mar-2022